:root {
  --secondary-color: #ffffff;
  --extra-text-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.link {
  text-decoration: none;
  color: #2e2f42;
}

.list {
  list-style-type: none;
  background-color: #ffffff;
}

button {
  cursor: pointer;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.black-text-logo {
  color: #2e2f42;
}

.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.address-font-style {
  font-style: normal;
  color: #2e2f42;
}

.contact-list {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-mail:hover,
.contact-mail:focus {
  color: #404bbf;
}

.order-service-button {
  background: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.order-service-button:hover,
.order-service-button:focus {
  background: #404bbf;
}

address ul a {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.first-section-heading {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-background {
  background-color: #2e2f42;
}

.our-team-background {
  background-color: #f4f4fd;
}

.team-card-background {
  background-color: #ffffff;
}

.footer-background {
  background-color: #2e2f42;
}

.values-heading {
  font-size: 0px;
}

.values-titles {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-team-heading {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-team-names {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-portfolio-heading {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-portfolio-projects {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.values-text,
.position,
.portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer-text-logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.white-text-logo {
  color: #f4f4fd;
}
